/nbproject/private/
/src/.web-server-pid
/src/app/config/parameters.yml
/src/build/
/src/phpunit.xml
/src/var/*
!/src/var/cache
/src/var/cache/*
!/src/var/cache/.gitkeep
!/src/var/logs
/src/var/logs/*
!/src/var/logs/.gitkeep
!/src/var/sessions
/src/var/sessions/*
!/src/var/sessions/.gitkeep
!/src/var/SymfonyRequirements.php
/src/vendor/
/src/web/bundles/
/src/web/libs/
/src/node_modules/

/docker/etc/mysql/lib/*
/docker/conf/logs/*
.idea

.DS_store