/nbproject/private/
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/libs/
/node_modules/

/docker/data/*
!/docker/data/.gitkeep
/docker/logs/*
.idea

.DS_store